@charset "UTF-8";

/* Importação de font */ 
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans+KR:wght@100..900&display=swap');
/*variáveis */
:root {
    --azul: #00acee;
    --branco: #fff;
}
/* CSS Reset (Compatibilizar com todos navegadores)*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}
/* Layout */
body {
    font-family: "Libre Baskerville", serif;
    font-size: 1em; /* 1em = 100% */
}

.container {
    margin: 0 auto; /* centraliza o bloco*/
    display: flex;
    justify-content: space-between;
    align-items: center;

    }
.botao {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #fff;
    width: 200px;
    padding: 5px -1px ;
    align-self: center;
    border-radius: 25px;
    margin-top: 20px;
}
/*h1 {
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

}*/
/* Smartphone Portrait */

/* Cabeçalho */
header {
    height: 81px;
    background-color: #00acee;

}

#logo img {
    width: 85px;
    height: 85px;
    margin: 0px 0px 0px 2px;

}
#check {
    display: none;
    
}
/* efeito de minimizar o menu */
/* se check estiver "ticado", criar um estilo para ul */
#check:checked~UL {
    right: 0%;
}
label {
    font-size: 2em;
    position: fixed;
    top: 15px;
    right: 15px;
    color: rgba(0,0,0, 0.9); /* 0.5 = 50%*/

    
}
nav ul{
    height: 100vh; /* 100vh = 100% da altura da tela */
    list-style: none; /* tira os marcadores da lista */
    width: 65%;
    position: fixed;
    top: 81px;
    right: -65%;
    background-color: rgba(36,36,36, 0.8);
    transition: all 0.25s;
}
nav ul li {
    padding: 14px 19px 14px 20px;
    border-bottom:1px solid #fff;
    border-top:1px solid #fff;
    text-align: right;
}
nav ul li a {
    color: #fff;
    text-decoration: none; /* tira o sublinhado */

}
 /* Banner */
 main {
    height: 60vh;
    background: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    
 }
 main h1 {
    font-size: 3em;
 }
 main h2 {
    font-size: 1.1em;
    margin-top: 4px
 }
 main h1, h2 {
    color: #fff;
    text-shadow: #000 0.05em 0.05em 0.05em;
}
#destaque {
    background: url(img/background4.png);
    background-size: cover;
    background-position: center;
    padding: 50px 15px;
    color: transparent;
}
#textoDestaque {
    color: #fff;
}
#destaque .container {
    flex-direction: column;
    align-items: center;
}
#imagemDestaque img {
    width: 200px;
    height: 200px;
    border-radius: 90%;

}
#textoDestaque h2 {
    margin-bottom: 20px;

}
.topicos {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.topicos img {
    margin-right: 15px;
}
.topicos p {
    font-weight: 600;
}
/* Smartphone Landscape */
@media (min-width: 576px){
   /* Cabeçalho*/
   #logo img {
    margin: 3px 0px 0px 0px;
   }
    .container {
        max-width: 700px;
    }
    #destaque .container {
        flex-direction: row;

    }
    #imagemDestaque {
        margin-right: 20px;
    }
    #imagemDestaque img {
        width: 256px;
        height: 256px;
    }

}
/* Tablet Portrait */
@media (min-width: 768px){
    /* Cabeçalho */
    .container{
        max-width: 770px;
    }
    header {
        height: 106px;
        
    }
    #logo img {
        width: 110px;
        height: 110px;
        
 }
    nav ul {
        top: 106px;
        width: 45%;
        right: -45%;

 }
 main h1 {
    font-size: 5em;
 }
 main h2 {
    font-size: 1.8em;
 }
 #imagemDestaque img{
    width: 250px;
    height: 250px;
}
}
/* Tablet Landscape */
@media (min-width: 992px){
    /* Cabeçalho*/
    .container {
        max-width: 1100px;
     
    }
    #destaque {
        padding: 60px 150px;
    }
   
}

/* PCs */
@media (min-width: 1200px){
 .container {
    max-width: 1380px;

 }
 header {
    height: 135px;

}
 #logo img {
    width: 130px;
    height: 130px;
    margin: 5px 0px 5px 0px;
}
/* Configuração do Menu*/ 
label {
    display: none;
 }
 nav ul {
    width: 100%;
    height: auto;
    position: static;
    background-color: transparent;
}
nav ul li {
    float: left;
    border: 0;
}
nav ul li a {
    color: #fff;
}
nav ul li a:hover {
    color: black;
}
}
/* Telas fullhd / 4K / SmartTV*/
@media (min-width: 1400px){
    .container {
        max-width: 1450px;
      

    }
    header {
        height: 140px;

    }
   #logo img {
    width: 135px;
    height: 135px;
   }
   nav ul {
    top: 140px;
   }
   
   #destaque {
    flex-direction: fixed;
    padding: 80px 250px;
}
#imagemDestaque img {
    width: 300px;
    height: 300px;
}
}
